.row{
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
}

.col{
    background-color: crimson;
    padding: 20px;
    flex: 1;
    margin: 10px;
}

.col-2{
    background-color: darkblue;
    padding: 20px;
    flex: 2;
    margin: 10px;
}

.col-3{
    background-color: darkred;
    padding: 20px;
    flex: 3;
    margin: 10px;
}